/**
 * Lenxel Core - Upgrade Page Styles
 */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

.success-message {
    color: #27AE60;
    background: #E2FFEE;
    padding: 20px;
    display: inline-block;
}

.exist-message {
    color: #e7d914ff;
    background: #d7d5bfff;
    padding: 20px;
    display: inline-block;
}

.error-message {
    color: #df3d0cff;
    background: #ddcecc;
    padding: 20px;
    display: inline-block;
}

.close-msg-icon {
    font-size: 18px;
    float: right;
    margin-left: 40px;
    margin-top: -5px;
}

.istyle {
    font-size: 18px;
    margin-right: 20px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
